/* =========================
   Laptop
========================= */

@media (max-width:1200px){

.container{
    width:92%;
}

.hero h1{
    font-size:68px;
}

.grid-2{
    gap:50px;
}

.service-grid,
.property-grid,
.why-grid,
.amenity-grid,
.testimonial-grid{
    gap:20px;
}

}


/* =========================
   Tablet
========================= */

@media (max-width:992px){

.section-padding{
    padding:80px 0;
}

.hero{
    min-height:90vh;
}

.hero h1{
    font-size:54px;
}

.hero p{
    font-size:16px;
}

.grid-2{
    grid-template-columns:1fr;
}

.about-image{
    order:1;
}

.about-text{
    order:2;
}

.service-grid{
    grid-template-columns:repeat(2,1fr);
}

.property-grid{
    grid-template-columns:repeat(2,1fr);
}

.why-grid{
    grid-template-columns:repeat(2,1fr);
}

.amenity-grid{
    grid-template-columns:repeat(2,1fr);
}

.testimonial-grid{
    grid-template-columns:repeat(2,1fr);
}

.footer-grid{
    grid-template-columns:1fr;
}

.navbar{

    position:fixed;
    top:0;
    right:-100%;
    width:300px;
    height:100vh;

    background:#08131f;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    transition:.4s;

    z-index:999;
}

.navbar.active{
    right:0;
}

.menu-toggle{
    display:flex;
    align-items:center;
    justify-content:center;
}

.nav-call{
    display:none;
}

}


/* =========================
   Mobile
========================= */

@media (max-width:768px){

.section-heading h2{
    font-size:40px;
}

.hero{

    text-align:center;
    padding:120px 0 70px;
}

.hero h1{
    font-size:42px;
}

.hero p{
    margin:auto;
    margin-bottom:30px;
}

.hero-buttons{
    justify-content:center;
}

.hero-stats{
    justify-content:center;
}

.hero-stats div{
    min-width:140px;
}

.service-grid,
.property-grid,
.why-grid,
.amenity-grid,
.testimonial-grid{
    grid-template-columns:1fr;
}

.property-card img{
    height:240px;
}

.about-image img{
    min-height:350px;
}

.cta-box{
    padding:35px 25px;
}

.footer{
    text-align:center;
}

.footer a{
    display:block;
}

.whatsapp-float,
.call-float,
.back-to-top{
    width:50px;
    height:50px;
}

}


/* =========================
   Small Mobile
========================= */

@media (max-width:480px){

.container{
    width:90%;
}

.section-padding{
    padding:65px 0;
}

.hero{
    min-height:100vh;
}

.hero h1{
    font-size:34px;
}

.hero p{
    font-size:15px;
}

.hero-buttons{
    flex-direction:column;
}

.hero-buttons .btn{
    width:100%;
}

.hero-stats{
    flex-direction:column;
}

.hero-stats div{
    width:100%;
}

.section-heading h2{
    font-size:32px;
}

.property-card img{
    height:220px;
}

.about-image img{
    min-height:280px;
}

.loader h1{
    font-size:34px;
    letter-spacing:3px;
}

.loader p{
    letter-spacing:2px;
}

.logo{
    font-size:24px;
}

.menu-toggle{
    width:42px;
    height:42px;
}

}
